.menuSection {
  text-align: center;
  font-size: 30px;
  margin-top: 180px;
  a{
    text-decoration-line: none;
    color: black;
    justify-content: center;
    h2{
      font-weight: 200;
      text-transform: uppercase;
    }
  }
}